body
{
    font-size: 18px;
    
}

.mainframe{
    text-align: center;
}

.codeform{
    text-align: justify;
}

#answerbox {
   width: 40rem;
   height: 8rem;
   margin-left: 1.5rem; 
   margin-bottom: -1.0rem;
}

#answerboxClear {
    margin-left: 10rem;
    margin-bottom: -1.0rem;
    text-align: justify;
}

#uarray{
   width: 30rem;
}

#buttons{
    text-align: center;
}

#arraySize{
    width: 4rem;
}

#arrow{
    text-align: center;
    padding-bottom: 2rem;
}

